.header {
	background-color: $primary-light;
	padding: 10px 0;

	&__content {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		transition: all 0.7s ease;
		width: 100%;

		&.show {
			gap: 20px;
			justify-content: flex-start;
		}
	}

	&__img {
		height: 100%;

	}

	&__right {
		display: flex;
		gap: 20px;
	}
}

@media (max-width: 1172px) {
	.header {
		&__content {
			display: flex;
			justify-content: space-between;
		}
	}
}

@media (max-width: 700px) {
	.header {
		height: 80px;
	}
}

@media (max-width: 480px) {
	.header {
		&__img {
			display: none;
			position: relative;
			left: -50000px;
		}
	}
}