.search-field {
	width: 100%;
	display: none;
	align-items: center;
	height: 90px;
	flex-direction: column;

	&__input {
		transition: border-radius 0.3s;
		background-color: #dbdbdb;
		outline: none;
		border: none;
		border-radius: 15px 15px 15px 15px;
		width: 100%;
		padding: 20px;
		height: 50px;
		font-size: 20px;

		&:active,
		&:focus {
			outline: none;
			/* Забирає стандартний обвід при фокусуванні */
			border: none;
		}

	}

	&__form {
		width: 100%;
		padding-top: 20px;
	}

	&.show {
		display: flex;
	}

	&__container {
		position: relative;
		width: 100%;
		z-index: 5;
	}
}

